
<tr id="<%= dom_id food %>" class="single-food">
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td>$<%= food.price %></td>
  <td><%= food.quantity %></td>
  <td><%= link_to "Show this food", food %></td>
</tr>

