<p style="color: green"><%= notice %></p>

<h1>Welcome to the food list of <%= @user.name %></h1>

<section id="foods">
  <% if @foods.empty? %>
    <h2>There are no foods added to this user</h2>
  <% else %>
    <% @foods.each do |food| %>
      <%= render food %>
      <p>
        <%= link_to "Show this food", food %>
      </p>
    <% end %>
  <% end %>
</section>

<%= link_to "New food", new_food_path %>
